*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 20px;
}
.nav h2{
    font-size: 30px;
}
.nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: hsl(75, 94%, 57%);
    font-size: 15px;
}

.intro{
    background-color: hsl(0, 0%, 20%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    padding: 20px;
}
.intro .intro-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}
.intro .intro-main h1{
    color: hsl(0, 0%, 100%);
    font-size: 48px;
    font-weight: 900;
}
.intro .intro-main em{
    color: hsl(0, 0%, 100%);
    font-size: 18px;   
}
.intro .intro-main button{
    padding: 10px;
    border-radius: 20px;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}
.intro .intro-pic img{
    height: 200px;
    width: 300px;
    border-radius: 30px;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}
.display .display-projects{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}
.display .display-projects figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid hsl(0, 0%, 20%);
    border-radius: 20px;
    height: fit-content;
    width: 400px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
}
.display .display-projects figure img{
    width: 200px;
    height: fit-content;
    border-radius: 10px;
}
.display .display-projects figcaption{
    margin: 20px;
}

.quote{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    color: hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 78%);
}
.quote em{
    font-size: 32px;
}
.quote strong{
    font-size: 24px;
}

.call-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.call-container .call{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: hsl(0, 0%, 20%);
    padding: 20px;
    border-radius: 20px;
    color: hsl(0, 0%, 100%);
}
.call-container .call .call-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.call-container .call .call-btn button{
    background-color: hsl(0, 0%, 20%);
    color: hsl(75, 94%, 57%);
    border: 2px solid hsl(75, 94%, 57%);
    border-radius: 20px;
    width: auto;
    padding: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 20px;
}